package-lock=false

electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
FFMPEG_BINARIES_URL=https://registry.npmmirror.com/-/binary/ffmpeg-static/
